$background-color: #F8F8F8;
$text-color: #2D2926;

$primary-color: #00965E;
$primary-light-color: #EEF9F0;
$primary-color-hover: #141414;

$secondary-color: #00BC8C;

$contrast-color: #F5A623;
$contrast-color-second: #FFCF80;

$success-color-primary: #0FB777;
$success-color-secondary: #9EDDA6;
$error-color-primary: #D40000;
$error-color-secondary: #FAE5E5;

$notice-color-primary: #E8D700;
$notice-color-secondary: #FFFABC;

$link: #008F58;
$link-hover: #008251;
$grey-color: #EEE;
$grey-color-second: #767676;
$grey-input-color: #E5E5E5;
$full-black-color: #000000;
