$base-theme:Bootstrap;
$skin-name:custom;
$swatch-name:Bootstrap;
$border-radius: 2px;
$accent: #00915A;
$primary: #00965E;
$secondary: #767676;
$info: #1CA6FC;
$success: #419F45;
$warning: #FFDB24;
$error:  #C52D16;
$body-bg: #ffffff;
$body-color: #141414;
$component-bg: #ffffff;
$component-color: #141414;
$card-cap-bg: #eeeeee;
$card-cap-color: #141414;


$icon-font-path: '../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
