$standard-font-size: 16px;
$standard-font: Verdana, serif;
$background-color: #656565;
$nav-color: #393939;
$accent-color: #d42d2d;
$secondary-color: #f5f5f5;

@mixin text-center
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@mixin article-image
{
  height: 100vh;
  background: no-repeat fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

@mixin overlay
{
  position: absolute;
  background-color: $background-color;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 2.0s ease;
}

@mixin p-footer
{
  min-height: 20px;
  margin: 10px;
  font-size: 0.80em;
}

body {
  color: $background-color;
  background-color: $secondary-color;
  font-size: $standard-font-size;
  font-family: $standard-font;
  box-sizing: border-box;
  margin-top: 0;
  h1 {
    text-align: center;
  }
  p {
    margin: 0;
  }
  .container-fluid {
    padding: 0;
  }
}

/*header */
.navbar {
  background-color: $background-color;
  text-align: center;
  border: 0;
  .navbar-toggle {
    background-image: url("../img/menu-images.png");
    background-repeat: no-repeat;
  }
  a {
    color: #f5f5f5;
  }
  .navbar-nav ul {
      margin: 0;
  }
}

header nav li a:hover {
  color: $background-color;
  background-color: $secondary-color;
}
/*header - ENDs*/

/**** articles ****/
/* article's images */
.hero-header-img {
  @include article-image;
  background-image: url("../img/helm-677990_1920.jpg");
}

/* section visited-divesites */
.visited-divesites-img {
  @include article-image;
  background-image: url("../img/diving-786792_1920.jpg");
}

/* section must-dive */
.must-dive-img {
  @include article-image;
  background-image: url("../img/divers-2329604_1920.jpg");
}

/* section the-best */
.the-best-img {
  @include article-image;
  background-image: url("../img/turtle-684348_1920.jpg");
}

/* red arrow */
.arrow {
  position: absolute;
  bottom: 0;
  left: 48%;
  a.arrow-link {
    text-decoration: none;
    color: $accent-color;
    font-size: $standard-font-size*4;
  }
}
/* articles - ENDs*/

/*hero-header */
.hero-header-text {
  @include text-center;
  .hero-text {
    font-size: $standard-font-size*6;
    color: $secondary-color;
    opacity: 0.95;
  }
}

/* articles */
.article-text-center {
  position: relative;
}

/* article's short text */
.text {
  padding: 15%;
  background-color: $secondary-color;
  height: 100vh;
  .article-header {
    font-variant: small-caps;
    color: $background-color;
  }
  .article-text {
    text-align: justify;
  }
}
/* article's short text - ENDs */

/* article's details */
.ovarlay-container {
  width: 10%;
  height: 20%;
  .ovarlay-arrow {
    font-size: $standard-font-size*4;
  }
}

.ovarlay-container-left{
  margin-left: 92%;
}

/* article's details - wisited divesites */
.overlay-right {
  @include overlay;
  bottom:0;
  left:0;
  right:0;
}

.ovarlay-container:hover .overlay-right {
  width: 100%;
}

/* article's details - must dive */
.overlay-center {
  @include overlay;
  width: 100%;
  opacity: 0;
}

.ovarlay-container-center:hover .overlay-center {
  opacity: 1;
}

/* article's details - the best */
.overlay-left {
  @include overlay;
  bottom: 0;
  left: 100%;
  right: 0;
}
.ovarlay-container:hover .overlay-left {
  width: 100%;
  left: 0;
}

/* article's details - text */
.article-details {
  color: $secondary-color;
  @include text-center;
}

/*footer */
footer {
  background-color: #242424;
  color: #656565;
  width: 100%;
  min-height: 40px;
  .p-footer-left {
    @include p-footer;
  }
  .p-footer-right {
    @include p-footer;
    text-align: right;
    a {
      text-decoration: none;
      color: #d3d3d3;
    }
  }
}
/*footer - ENDs */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .ovarlay-container {
    margin-top: 50%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) {
  .ovarlay-container {
    margin-top: 50%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .ovarlay-container {
    margin-top: 50%;
  }
}