body {
    background-color: #f5f5f5;
    color: #4d4d4d;
    font-size: 16px;
    font-family: Verdana, serif;
    box-sizing: border-box;
    margin-top: 0;
}

/* main */
h1 {
    font-size: 3em;
    text-align: center;
}

p {
    font-size: 1.5em;
    margin: 0;
}

/*header */
header {
    position: sticky;
    top:0;
    overflow: hidden;
    background-color: #656565;
    width: 100%;
    z-index: 4;
}

header nav ul {
    list-style-type: none;
    max-width: 30%;
    margin: 0 auto;
}

header nav li {
    float: left;
}

header nav li a {
    color: #f5f5f5;
    display: block;
    text-decoration: none;
    padding: 10px;
}

header nav li a:hover {
    color:#656565;
    background-color: #f5f5f5;
}
/*header - END*/

/* articles */
div.article-image {
    height: 100vh;
    background: no-repeat fixed;
    background-size: cover;
    position: relative;
}
/* article's images */
#hero-header-img {
    background-image: url("../img/helm-677990_1920.jpg");
}

#visited-divesites-img {
    background-image: url("../img/diving-786792_1920.jpg");
    min-width: 50%;
    float: right;
}

/* articles - END */

/*hero-header */
div.hero-header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 2px 2px #808080;
    font-size: 2em;
    letter-spacing: 0.10em;
}

/* article's short text */
div.text {
    max-height: 50%;
    padding: 25% 15% 15% 15%;
}

article h1.article-header {
    font-variant: small-caps;
    color: #393939;
}

article p.article-text {
    text-align: justify;
}

/* visited divesites */
div.article-text-left {
    background-color: #f5f5f5;
    margin-right: 50%;
    height: 100vh;
    z-index: 2;
}
