body {
  color: #656565;
  background-color: #f5f5f5;
  font-size: 16px;
  font-family: Verdana, serif;
  box-sizing: border-box;
  margin-top: 0; }
  body h1 {
    text-align: center; }
  body p {
    margin: 0; }
  body .container-fluid {
    padding: 0; }

/*header */
.navbar {
  background-color: #656565;
  text-align: center;
  border: 0; }
  .navbar .navbar-toggle {
    background-image: url("../img/menu-images.png");
    background-repeat: no-repeat; }
  .navbar a {
    color: #f5f5f5; }
  .navbar .navbar-nav ul {
    margin: 0; }

header nav li a:hover {
  color: #656565;
  background-color: #f5f5f5; }

/*header - ENDs*/
/*** add navigation ***/
.sidenav {
  margin-top: 50px; }
  .sidenav a {
    position: absolute;
    right: -120px;
    transition: 0.3s;
    padding: 15px;
    width: 200px;
    text-decoration: none;
    color: #f5f5f5;
    background-color: #656565;
    border-radius: 10px 0 0 10px; }
  .sidenav a:hover {
    right: 0; }

/* sidenave links*/
.dashboard {
  top: 20px; }

.js {
  top: 80px; }

/**** articles ****/
/* article's images */
.hero-header-img {
  height: 100vh;
  background: no-repeat fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url("../img/helm-677990_1920.jpg"); }

/* section visited-divesites */
.visited-divesites-img {
  height: 100vh;
  background: no-repeat fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url("../img/diving-786792_1920.jpg"); }

/* section must-dive */
.must-dive-img {
  height: 100vh;
  background: no-repeat fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url("../img/divers-2329604_1920.jpg"); }

/* section the-best */
.the-best-img {
  height: 100vh;
  background: no-repeat fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url("../img/turtle-684348_1920.jpg"); }

/* red arrow */
.arrow {
  position: absolute;
  bottom: 0;
  left: 48%; }
  .arrow a.arrow-link {
    text-decoration: none;
    color: #d42d2d;
    font-size: 64px; }

/* articles - ENDs*/
/*hero-header */
.hero-header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }
  .hero-header-text .hero-text {
    font-size: 96px;
    color: #f5f5f5;
    opacity: 0.95; }

/* articles */
.article-text-center {
  position: relative; }

/* article's short text */
.text {
  padding: 15%;
  background-color: #f5f5f5;
  height: 100vh; }
  .text .article-header {
    font-variant: small-caps;
    color: #656565; }
  .text .article-text {
    text-align: justify; }

/* article's short text - ENDs */
/* article's details */
.ovarlay-container {
  width: 10%;
  height: 20%; }
  .ovarlay-container .ovarlay-arrow {
    font-size: 64px; }

.ovarlay-container-left {
  margin-left: 92%; }

/* article's details - wisited divesites */
.overlay-right {
  position: absolute;
  background-color: #656565;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 2.0s ease;
  bottom: 0;
  left: 0;
  right: 0; }

.ovarlay-container:hover .overlay-right {
  width: 100%; }

/* article's details - must dive */
.overlay-center {
  position: absolute;
  background-color: #656565;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 2.0s ease;
  width: 100%;
  opacity: 0; }

.ovarlay-container-center:hover .overlay-center {
  opacity: 1; }

/* article's details - the best */
.overlay-left {
  position: absolute;
  background-color: #656565;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 2.0s ease;
  bottom: 0;
  left: 100%;
  right: 0; }

.ovarlay-container:hover .overlay-left {
  width: 100%;
  left: 0; }

/* article's details - text */
.article-details {
  color: #f5f5f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

/*footer */
footer {
  background-color: #242424;
  color: #656565;
  width: 100%;
  min-height: 40px; }
  footer .p-footer-left {
    min-height: 20px;
    margin: 10px;
    font-size: 0.80em; }
  footer .p-footer-right {
    min-height: 20px;
    margin: 10px;
    font-size: 0.80em;
    text-align: right; }
    footer .p-footer-right a {
      text-decoration: none;
      color: #d3d3d3; }

/*footer - ENDs */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .ovarlay-container {
    margin-top: 50%; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .ovarlay-container {
    margin-top: 50%; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .ovarlay-container {
    margin-top: 50%; } }

/*# sourceMappingURL=style.css.map */
