<div class="app-add-btn">
    <a routerLink="../../../rooms" routerLinkActive="active">
      <button class="waves-effect waves-light btn route-button" type="button"> <i class="medium material-icons">arrow_back</i></button>
    </a>
  </div>
  <div class="row">
      <div class="col s12">
        <h5 class="app-panel-header">{{room.name}}</h5>
      </div>
  </div>
  <div class="edit-content">
    <div class="row">

        <div class="col app-gr-btn">
            <button class="waves-effect waves-light btn" [routerLink]="['/rooms', id, 'details','addTask']" routerLinkActive="active" type="button">
                <i class="medium material-icons">build</i>
            </button>

          </div>
    </div>
</div>
