<div class="app-add-btn">
  <a [routerLink]="['/rooms', id, 'details']" routerLinkActive="active">
    <button class="waves-effect waves-light btn route-button" type="button">
      <i class="medium material-icons">arrow_back</i>
    </button>
  </a>
</div>
<div class="edit-content">
  <div class="row">
    <h4>Uzupełnij zadanie</h4>
  </div>

  <!--edit task-->
  <div class="row">
    <form #editFormData='ngForm'>

      <div class="row app-edit-form">
        <div class="input-field col s4">
          <input [(ngModel)]="toDo.name" type="text" id="toDoName" name="toDoName">
          <label for="toDoName" class="active">Zadnie</label>
        </div>

        <div class="input-field col s4">
          <label for="toDoFinished">
            <input [(ngModel)]="toDo.finished" type="checkbox" id="toDoFinished" name="toDoFinished" />
            <span>Czy skończone</span>
          </label>
        </div>
      </div>


      <div class="row app-edit-form">
        <div class="input-field col s4">
          <input [(ngModel)]="toDo.planedExecutionDate" type="date" class="datepicker" id="toDoPlanedExecutionDate" name="toDoPlanedExecutionDate">
          <label for="toDoPlanedExecutionDate" class="active">Planowana data wykonania</label>
        </div>
        <div class="input-field col s4">
          <input [(ngModel)]="toDo.contractor" type="text" id="toDoContractor" name="toDoContractor">
          <label for="toDoContractor" class="active">Wykonawca</label>
        </div>
      </div>

      <div class="row app-edit-form">
        <div class="input-field col s4">
          <input [(ngModel)]="toDo.planedCost" type="number" id="toDoPlanedCost" name="toDoPlanedCost">
          <label for="toDoPlanedCost" class="active">Planowany koszt</label>
        </div>
        <div class="input-field col s4">
          <input [(ngModel)]="toDo.cost" type="number" id="newToDoCost" name="newToDoCost">
          <label for="toDoCost" class="active">Koszt</label>
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          <label for="toDoShopping">
            <input [(ngModel)]="toDo.shopping" type="checkbox" id="toDoShopping" name="toDoShopping" />
            <span>Zakupy</span>
          </label>
        </div>
      </div>
    </form>

  </div>

  <!-- inspirations-->
  <div class="row">
    <h5>Lista inspiracji</h5>
  </div>

  <div class="row">
    <form [formGroup]="addInspirationForm" (ngSubmit)=addInspiration()>

      <div class="input-field col s4">
        <input type="text" id="newInspirationLink" formControlName="newInspirationLink">
        <label for="newInspirationLink">Link do inspiracji</label>
      </div>

      <div class="input-field col s2">
        <label for="newInspirationIsSelected">
          <input type="checkbox" id="newInspirationIsSelected" formControlName="newInspirationIsSelected" />
          <span>Czy wybrane</span>
        </label>
      </div>

      <button class="waves-effect waves-light btn" type="submit" [disabled]="addInspirationForm.invalid">
        <i class="medium material-icons">add</i>
      </button>
    </form>
  </div>

  <div class="row">
    <div class="col s9">
      <ul class="collapsible popout">
        <li class="" *ngFor="let inspiration of inspirations; let i=index; trackBy:customTrackBy">
          <div class="collapsible-header">

            <div class="col s1">
              <i class="material-icons">insert_link</i>
            </div>
            <div class="col s6">
              <a href="http://{{inspirations[i].inspirationLink}}" target="_blank">{{inspirations[i].inspirationLink}}</a>
            </div>

            <div class="col s2">
              <i class="material-icons" *ngIf="inspirations[i].isSelected">done</i>
            </div>

            <div class="col s3 app-gr-btn">
              <button
                class="waves-effect waves-light btn app-edit-btn"
                [ngClass]="{'app-notActive': inspiration.editMode}"
                type="button"
                (click)=editInspirtaionMode(inspiration)
                ><i class="material-icons">create</i></button>
              <button
                class="waves-effect waves-light btn app-delete-btn"
                [ngClass]="{'app-notActive': inspiration.editMode}"
                type="button"
                (click)=removeInspiration(inspiration)
                ><i class="material-icons">delete_forever</i></button>

            </div>
          </div>
          <div class="collapsible-body" [ngClass]="{'app-active-box': inspiration.editMode}">
            <div>
            <form #editFormData='ngForm' (ngSubmit)=leaveInspirationEditMode(inspiration)>

                 <div class="input-field col s7">
                   <input [(ngModel)]="inspirations[i].inspirationLink" type="text" id="{{'inspirations[' + i + '].inspirationLink'}}" name="{{'inspirations[' + i + '].inspirationLink'}}" >
                   <label for="{{'inspirations[' + i + '].inspirationLink'}}"  class="active">Link do inspiracji</label>
                 </div>

                 <div class="input-field col s4">
                  <label for="{{'inspirations[' + i + '].isSelected'}}">
                    <input [(ngModel)]="inspirations[i].isSelected"  type="checkbox" id="{{'inspirations[' + i + '].isSelected'}}"  name="{{'inspirations[' + i + '].isSelected'}}" />
                    <span>Czy wybrane</span>
                  </label>
                </div>

                 <button class="waves-effect waves-light btn app-delete-btn" type="submit" [disabled]="editFormData.invalid">
                   <i class="medium material-icons ">close</i>
                 </button>

               </form>
               <p></p>
             </div>
         </div>

        </li>
      </ul>
    </div>

  </div>

</div>
