@import "../colors";

.app-stepper {
  display: flex;
}

.app-stepper-item-active {
  background-color: $primary-color;
  color: #fff;
}

.app-stepper-item-after-active {
  background-color: $link-hover;
  color: #fff;
}

.app-stepper-header {
  display: flex;
}

