@import '../breakpoints';
@import '../colors';

.app-center-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-tooltip-icon {
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: $primary-color;
}

.app-content {
  padding: 0 20px;
}

.app-accent {
  color: $primary-color;
}

@media (min-width: $md) {
  .app-justify-content-center {
    display: flex;
    justify-content: center;
  }

  .app-content {
    padding: 0 20px;
  }
}

