@import "../breakpoints";

.invalid-feedback,
.app-form-input-description {
  text-align: right;
  width: 90%;
}

.form-control::placeholder {
  text-align: left;
}
.app-btns-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.app-modal-full-screen {
  margin: 0;
  max-width: 95%;
  padding: 10px;
  .modal-content {
    height: 100vh;
    padding: 10px;
    overflow: auto;
  }
}

@media (min-width: $lg) {
  .invalid-feedback,
  .app-form-input-description {
    width: 100%;
  }

  .form-control {
    margin: 0 10px;
  }

  .app-checkbox-group-label {
    width: 30%;
  }

  .app-checkbox-group-list {
    width: 70%;
  }

  .app-checkbox-group-label,
  .app-checkbox-group-list {
    float: left;
  }
}
