body {
  margin: auto;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  color: #808080;
}

.Container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}

