<div class="app-add-btn">
  <a [routerLink]="['/rooms', id, 'details']" routerLinkActive="active">
    <button class="waves-effect waves-light btn route-button" type="button">
      <i class="medium material-icons">arrow_back</i>
    </button>
  </a>
</div>
<div class="edit-content">
  <div class="row">
    <h4>Dodaj zadanie</h4>
  </div>

  <!--add new task-->
  <div class="row">
    <form [formGroup]="addToDoForm" (ngSubmit)=addToDo()>

      <div class="row">
        <div class="input-field col s4">
          <input type="text" id="newToDoName" formControlName="newToDoName">
          <label for="newToDoName">Zadnie</label>
        </div>

        <div class="input-field col s4">
          <label for="newToDoFinished">
            <input type="checkbox" id="newToDoFinished" formControlName="newToDoFinished" />
            <span>Czy skończone</span>
          </label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s4">
          <input type="text" class="datepicker" id="newToDoPlanedExecutionDate" formControlName="newToDoPlanedExecutionDate">
          <label for="newToDoPlanedExecutionDate">Planowana data wykonania</label>
        </div>
        <div class="input-field col s4">
          <input type="text" id="newToDoContractor" formControlName="newToDoContractor">
          <label for="newToDoContractor">Wykonawca</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s4">
          <input type="number" id="newToDoPlanedCost" formControlName="newToDoPlanedCost">
          <label for="newToDoPlanedCost">Planowany koszt</label>
        </div>
        <div class="input-field col s4">
          <input type="number" id="newToDoCost" formControlName="newToDoCost">
          <label for="newToDoCost">Koszt</label>
        </div>
      </div>

      <div class="row">
        <div class="col s4">
          <label for="newToDoShopping">
            <input type="checkbox" id="newToDoShopping" formControlName="newToDoShopping" />
            <span>Zakupy</span>
          </label>
        </div>
        <div class="col s4 offset-s4">
          <button class="waves-effect waves-light btn" type="submit" [disabled]="addToDoForm.invalid">
            <i class="medium material-icons">add</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
