$standard-size: 16px;
$primary-color: #0098ad;
$secondary-color: #666666;
$standard-padding: 4px;

@mixin p-footer
{
  max-width: 40%;
  margin: $standard-size*0.50;
  font-size: $standard-size*0.80;
}

@mixin cover-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  background-color: #ffffff;
  color: $primary-color;
  font-size: $standard-size;
  font-family: Verdana, serif;
  box-sizing: border-box;
}

h1 {
  font-size: $standard-size*1.5;
  margin: 0;
  padding: 0.2%;
}

/***** MENU *****/
nav {
  max-width: 50%;
  margin: auto;
  text-align: center;
  ul {
    list-style-type: none;
    padding-left: 0;
    li {
      display: inline;
      padding: $standard-padding;
    }
  }
}
nav a {
  color: $primary-color;
  text-decoration: none;
  padding: $standard-padding;
  transition: all 2s;
}

nav a:hover {
  border: 1px solid $primary-color;

}
/**** SECTIONS *****/
.portfolio {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  .card {
    background-color: #0098ad;
    width: 24%;
    height: $standard-size*10;
    margin: $standard-size/4;
    color: $secondary-color;
    text-align: center;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  .card--1 {
    background: url("../img/drums-2599508_1920.jpg") no-repeat center;
    @include cover-card;
  }
  .card--2 {
    background: url("../img/tee-2472360_640.jpg") center;
    @include cover-card;
  }
  .card--3 {
     background: url("../img/image1.JPG") center;
     @include cover-card;
   }
  .card--4 {
    background-color: #0098ad;
  }
  .card--5 {
    background: url("../img/js30_5_3.JPG") center;
    @include cover-card;
  }
  .card:hover {
    animation: img-background 15s forwards;
  }
  a {
    text-decoration:none;
    transition: all 1s linear;
    .ahref {
      height: 100%;
      width: 100%;
    }
  }
  .card a:hover {
    text-decoration: none;
    color:  #ffffff;
  }
  .text {
    height: $standard-size*2;
    max-width: 80%;
    padding: $standard-padding;
    margin: $standard-padding*2 auto;
    border: 1px solid;
    text-align: left;
    opacity: 0.8;
  }
}
/***card animation***/
@keyframes img-background {
  0% {filter: grayscale(100%);  }
  25% {filter: grayscale(25%); }
  50% {filter: grayscale(50%); }
  75% {filter: grayscale(25%); }
  100% {filter: grayscale(0%); color:  #ffffff}
}

/***** FOOTER ******/
footer {
  color: $secondary-color;
  width: 100%;
  border-top: 1px solid;
  .p-footer-left {
    @include p-footer;
    float: left;
  }
  .p-footer-right {
    @include p-footer;
    float: right;
    text-align: right;
  }
  .p-footer a {
    text-decoration:none;
    color: #d3d3d3;
  }
}
