.newToDo {
    width: 50%;
    margin: 16px auto;
    text-align: center;
}

.textImput {
    width: 80%;
    height: 30px;
    margin: 5px 20px 5px 20px;
    padding: 3px 2px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
}

.select {
    width: 81%;
    height: 40px;
    margin: 5px 20px 5px 20px;
    padding: 3px 2px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
}

.addButton {
    width: 100px;
    height: 40px;
    background-color: #ccc;
    border: 0;
}