<div class="row">
    <div class="app-add-btn app-gr-btn">
        <button class="waves-effect waves-light btn route-button" type="button" (click)="saveInDb()" ><i class="material-icons">cloud_upload</i></button>

    </div>

  </div>
<div class="edit-content">
  <div class="row">

    <div class="col app-gr-btn">
      <button class="waves-effect waves-light btn" [routerLink]="['addContractor']" routerLinkActive="active"
        type="button">
        <i class="medium material-icons">build</i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <h5>Wykonawcy</h5>
    </div>
    <div class="row">
        <div class="col s12">
          <ul class="collapsible popout">
            <li >
              <div class="collapsible-header appTableHeader">
                <div class="col s10"> Wykonawca </div>
                <div class="col s2"></div>
              </div>
            </li>
            <li class="" *ngFor="let contractor of contractorsList, let i=index">
              <div class="collapsible-header">
                <div class="col s10"> {{contractor.name}} </div>
                <div class="col s2 app-gr-btn">
                    <button
                      class="waves-effect waves-light btn app-edit-btn"
                      type="button"
                      [routerLink]="[]" routerLinkActive="active"
                      ><i class="material-icons">create</i></button>
                    <button
                      class="waves-effect waves-light btn app-delete-btn"
                      type="button"
                      (click)="removeContractor(contractor)"
                      ><i class="material-icons">delete_forever</i></button>
                  </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </div>
 </div>
