body {
  .section-relax {
    margin-top: 60px;
  }
  h1 {
    background-color: #337ab7;
    color: #fff;
  }
}

.col-project {
  text-align: center;
  .logo {
    max-width: 200px;
    height: 70px;
  }
}