body {
  .section-relax {
    margin-top: 60px;
  }
  h2 {
    background-color: #337ab7;
    opacity: 0.90;
    color: #fff;
    padding-left: 10px;
  }
}

.nav-top {
  background-color: #337ab7;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.col-project {
  text-align: center;
  .logo {
    max-width: 200px;
    height: 70px;
  }
}

.tab-content {
  border: 1px solid #ddd;
  border-top-color: transparent;
  border-radius: 5px;
  h3, p {
    padding-left: 10px;
  }
}


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  display: inline;
}